<div class="container-fluid triple-hero-container gx-0 rounded-0" id="services-section">
    {{ if triple_hero_headline }}
        <div class="container-fluid triple-hero-header border-0 rounded-0">
            <h2 class="card-title text-center hero-headline triple-head-txt">
                {{ triple_hero_headline }}
            </h2>
        </div>
    {{/if}}
    

        <div class="container-fluid">
            <div class="row row-cols-md-3">
                {{ sub_hero }}
                    {{ if type == "new_hero" }}
                    <div class="col-mb-auto gx-0">
                        <div class="card mb-0 border-0 rounded-0 hght-adj">
                            <img src="{{ hero_img }}" class="card-img-top rounded-0 obj-cov h-100 " alt="...">
                            <div class="card-img-overlay rounded-0 d-flex flex-column  align-items-center shadded-filter text-white">
                                <h4 class="card-title">{{ hero_headline }}</h4>
                                {{ details }}
                                    {{ if type == "new_detail" }}
                                        <p class="details-adj {{ if first }} mt-auto {{ /if }} {{ if last }} mb-auto {{ /if }}  ">{{detail_text}}</p>
                                    {{ /if }}
                                {{ /details }}

                                {{ if add_button == "true" }}
                                <div class="d-flex justify-content-center my-auto button-cont">
                                    <a href="#{{page_section}}" class="btn {{ button_text }} details-adj  button-txt rounded-0" tabindex="-1" role="button">
                                        {{ button_text }}
                                    </a>
                                </div>
                                {{ /if }}
                            </div>   
                        </div>
                    </div>  
                    {{ /if }}
                {{ /sub_hero }}
            </div>
        </div>

</div>



