@mixin componentPadding{
    padding-top: 120px;
    padding-bottom: 120px;
    @include media-breakpoint-down(lg) {  
        padding-top: 80px;
        padding-bottom: 80px;
    }
    @include media-breakpoint-down(sm) {  
        padding-top: 60px;
        padding-bottom: 60px;
    }
}


@mixin componentPaddingSm{
    padding-top: 60px;
    padding-bottom: 60px;
    @include media-breakpoint-down(lg) {  
        padding-top: 40px;
        padding-bottom: 40px;
    }
    @include media-breakpoint-down(sm) {  
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@mixin componentBottomPadding{
    padding-bottom: 120px;
    @include media-breakpoint-down(lg) {  
        padding-bottom: 80px;
    }
    @include media-breakpoint-down(sm) {  
        padding-bottom: 60px;
    }
}